<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aixu.meeting.dao.AixuMeetingMapper" >
  <cache type="org.mybatis.caches.ehcache.EhcacheCache" />
  <resultMap id="BaseResultMap" type="com.aixu.meeting.domain.AixuMeeting" >
    <id column="MEET_ID" property="meetId" jdbcType="VARCHAR" />
    <result column="APPLY_EMP_NO" property="applyEmpNo" jdbcType="VARCHAR" />
    <result column="APPLY_EMP_NAME" property="applyEmpName" jdbcType="VARCHAR" />
    <result column="MEET_THEME" property="meetTheme" jdbcType="VARCHAR" />
    <result column="MEET_EMP_NUM" property="meetEmpNum" jdbcType="INTEGER" />
    <result column="STA_TIME" property="staTime" jdbcType="TIMESTAMP" />
    <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP" />
    <result column="NEED" property="need" jdbcType="VARCHAR" />
    <result column="MEET_TYPE" property="meetType" jdbcType="VARCHAR" />
    <result column="MEET_PER_NO" property="meetPerNo" jdbcType="VARCHAR" />
    <result column="MEET_PER_NAME" property="meetPerName" jdbcType="VARCHAR" />
    <result column="MEET_ROOM_ID" property="meetRoomId" jdbcType="VARCHAR" />
    <result column="MEET_CREATE_TIME" property="meetCreateTime" jdbcType="TIMESTAMP" />
    <result column="MEET_STATE" property="meetState" jdbcType="VARCHAR" />
    <result column="RES_ONE" property="resOne" jdbcType="VARCHAR" />
    <result column="RES_TWO" property="resTwo" jdbcType="VARCHAR" />
    <result column="RES_THREE" property="resThree" jdbcType="VARCHAR" />
    <result column="RES_FOUR" property="resFour" jdbcType="VARCHAR" />
    <result column="RES_FIVE" property="resFive" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    MEET_ID, APPLY_EMP_NO, APPLY_EMP_NAME, MEET_THEME, MEET_EMP_NUM, STA_TIME, END_TIME, 
    NEED, MEET_TYPE, MEET_PER_NO, MEET_PER_NAME, MEET_ROOM_ID, MEET_CREATE_TIME, MEET_STATE, 
    RES_ONE, RES_TWO, RES_THREE, RES_FOUR, RES_FIVE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.aixu.meeting.domain.AixuMeetingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from aixu_meeting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from aixu_meeting
    where MEET_ID = #{meetId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from aixu_meeting
    where MEET_ID = #{meetId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.aixu.meeting.domain.AixuMeetingExample" >
    delete from aixu_meeting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.aixu.meeting.domain.AixuMeeting" >
    insert into aixu_meeting (MEET_ID, APPLY_EMP_NO, APPLY_EMP_NAME, 
      MEET_THEME, MEET_EMP_NUM, STA_TIME, 
      END_TIME, NEED, MEET_TYPE, 
      MEET_PER_NO, MEET_PER_NAME, MEET_ROOM_ID, 
      MEET_CREATE_TIME, MEET_STATE, RES_ONE, 
      RES_TWO, RES_THREE, RES_FOUR, 
      RES_FIVE)
    values (#{meetId,jdbcType=VARCHAR}, #{applyEmpNo,jdbcType=VARCHAR}, #{applyEmpName,jdbcType=VARCHAR}, 
      #{meetTheme,jdbcType=VARCHAR}, #{meetEmpNum,jdbcType=INTEGER}, #{staTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{need,jdbcType=VARCHAR}, #{meetType,jdbcType=VARCHAR}, 
      #{meetPerNo,jdbcType=VARCHAR}, #{meetPerName,jdbcType=VARCHAR}, #{meetRoomId,jdbcType=VARCHAR}, 
      #{meetCreateTime,jdbcType=TIMESTAMP}, #{meetState,jdbcType=VARCHAR}, #{resOne,jdbcType=VARCHAR}, 
      #{resTwo,jdbcType=VARCHAR}, #{resThree,jdbcType=VARCHAR}, #{resFour,jdbcType=VARCHAR}, 
      #{resFive,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aixu.meeting.domain.AixuMeeting" >
    insert into aixu_meeting
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="meetId != null" >
        MEET_ID,
      </if>
      <if test="applyEmpNo != null" >
        APPLY_EMP_NO,
      </if>
      <if test="applyEmpName != null" >
        APPLY_EMP_NAME,
      </if>
      <if test="meetTheme != null" >
        MEET_THEME,
      </if>
      <if test="meetEmpNum != null" >
        MEET_EMP_NUM,
      </if>
      <if test="staTime != null" >
        STA_TIME,
      </if>
      <if test="endTime != null" >
        END_TIME,
      </if>
      <if test="need != null" >
        NEED,
      </if>
      <if test="meetType != null" >
        MEET_TYPE,
      </if>
      <if test="meetPerNo != null" >
        MEET_PER_NO,
      </if>
      <if test="meetPerName != null" >
        MEET_PER_NAME,
      </if>
      <if test="meetRoomId != null" >
        MEET_ROOM_ID,
      </if>
      <if test="meetCreateTime != null" >
        MEET_CREATE_TIME,
      </if>
      <if test="meetState != null" >
        MEET_STATE,
      </if>
      <if test="resOne != null" >
        RES_ONE,
      </if>
      <if test="resTwo != null" >
        RES_TWO,
      </if>
      <if test="resThree != null" >
        RES_THREE,
      </if>
      <if test="resFour != null" >
        RES_FOUR,
      </if>
      <if test="resFive != null" >
        RES_FIVE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="meetId != null" >
        #{meetId,jdbcType=VARCHAR},
      </if>
      <if test="applyEmpNo != null" >
        #{applyEmpNo,jdbcType=VARCHAR},
      </if>
      <if test="applyEmpName != null" >
        #{applyEmpName,jdbcType=VARCHAR},
      </if>
      <if test="meetTheme != null" >
        #{meetTheme,jdbcType=VARCHAR},
      </if>
      <if test="meetEmpNum != null" >
        #{meetEmpNum,jdbcType=INTEGER},
      </if>
      <if test="staTime != null" >
        #{staTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="need != null" >
        #{need,jdbcType=VARCHAR},
      </if>
      <if test="meetType != null" >
        #{meetType,jdbcType=VARCHAR},
      </if>
      <if test="meetPerNo != null" >
        #{meetPerNo,jdbcType=VARCHAR},
      </if>
      <if test="meetPerName != null" >
        #{meetPerName,jdbcType=VARCHAR},
      </if>
      <if test="meetRoomId != null" >
        #{meetRoomId,jdbcType=VARCHAR},
      </if>
      <if test="meetCreateTime != null" >
        #{meetCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="meetState != null" >
        #{meetState,jdbcType=VARCHAR},
      </if>
      <if test="resOne != null" >
        #{resOne,jdbcType=VARCHAR},
      </if>
      <if test="resTwo != null" >
        #{resTwo,jdbcType=VARCHAR},
      </if>
      <if test="resThree != null" >
        #{resThree,jdbcType=VARCHAR},
      </if>
      <if test="resFour != null" >
        #{resFour,jdbcType=VARCHAR},
      </if>
      <if test="resFive != null" >
        #{resFive,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.aixu.meeting.domain.AixuMeetingExample" resultType="java.lang.Integer" >
    select count(*) from aixu_meeting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update aixu_meeting
    <set >
      <if test="record.meetId != null" >
        MEET_ID = #{record.meetId,jdbcType=VARCHAR},
      </if>
      <if test="record.applyEmpNo != null" >
        APPLY_EMP_NO = #{record.applyEmpNo,jdbcType=VARCHAR},
      </if>
      <if test="record.applyEmpName != null" >
        APPLY_EMP_NAME = #{record.applyEmpName,jdbcType=VARCHAR},
      </if>
      <if test="record.meetTheme != null" >
        MEET_THEME = #{record.meetTheme,jdbcType=VARCHAR},
      </if>
      <if test="record.meetEmpNum != null" >
        MEET_EMP_NUM = #{record.meetEmpNum,jdbcType=INTEGER},
      </if>
      <if test="record.staTime != null" >
        STA_TIME = #{record.staTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null" >
        END_TIME = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.need != null" >
        NEED = #{record.need,jdbcType=VARCHAR},
      </if>
      <if test="record.meetType != null" >
        MEET_TYPE = #{record.meetType,jdbcType=VARCHAR},
      </if>
      <if test="record.meetPerNo != null" >
        MEET_PER_NO = #{record.meetPerNo,jdbcType=VARCHAR},
      </if>
      <if test="record.meetPerName != null" >
        MEET_PER_NAME = #{record.meetPerName,jdbcType=VARCHAR},
      </if>
      <if test="record.meetRoomId != null" >
        MEET_ROOM_ID = #{record.meetRoomId,jdbcType=VARCHAR},
      </if>
      <if test="record.meetCreateTime != null" >
        MEET_CREATE_TIME = #{record.meetCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.meetState != null" >
        MEET_STATE = #{record.meetState,jdbcType=VARCHAR},
      </if>
      <if test="record.resOne != null" >
        RES_ONE = #{record.resOne,jdbcType=VARCHAR},
      </if>
      <if test="record.resTwo != null" >
        RES_TWO = #{record.resTwo,jdbcType=VARCHAR},
      </if>
      <if test="record.resThree != null" >
        RES_THREE = #{record.resThree,jdbcType=VARCHAR},
      </if>
      <if test="record.resFour != null" >
        RES_FOUR = #{record.resFour,jdbcType=VARCHAR},
      </if>
      <if test="record.resFive != null" >
        RES_FIVE = #{record.resFive,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update aixu_meeting
    set MEET_ID = #{record.meetId,jdbcType=VARCHAR},
      APPLY_EMP_NO = #{record.applyEmpNo,jdbcType=VARCHAR},
      APPLY_EMP_NAME = #{record.applyEmpName,jdbcType=VARCHAR},
      MEET_THEME = #{record.meetTheme,jdbcType=VARCHAR},
      MEET_EMP_NUM = #{record.meetEmpNum,jdbcType=INTEGER},
      STA_TIME = #{record.staTime,jdbcType=TIMESTAMP},
      END_TIME = #{record.endTime,jdbcType=TIMESTAMP},
      NEED = #{record.need,jdbcType=VARCHAR},
      MEET_TYPE = #{record.meetType,jdbcType=VARCHAR},
      MEET_PER_NO = #{record.meetPerNo,jdbcType=VARCHAR},
      MEET_PER_NAME = #{record.meetPerName,jdbcType=VARCHAR},
      MEET_ROOM_ID = #{record.meetRoomId,jdbcType=VARCHAR},
      MEET_CREATE_TIME = #{record.meetCreateTime,jdbcType=TIMESTAMP},
      MEET_STATE = #{record.meetState,jdbcType=VARCHAR},
      RES_ONE = #{record.resOne,jdbcType=VARCHAR},
      RES_TWO = #{record.resTwo,jdbcType=VARCHAR},
      RES_THREE = #{record.resThree,jdbcType=VARCHAR},
      RES_FOUR = #{record.resFour,jdbcType=VARCHAR},
      RES_FIVE = #{record.resFive,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aixu.meeting.domain.AixuMeeting" >
    update aixu_meeting
    <set >
      <if test="applyEmpNo != null" >
        APPLY_EMP_NO = #{applyEmpNo,jdbcType=VARCHAR},
      </if>
      <if test="applyEmpName != null" >
        APPLY_EMP_NAME = #{applyEmpName,jdbcType=VARCHAR},
      </if>
      <if test="meetTheme != null" >
        MEET_THEME = #{meetTheme,jdbcType=VARCHAR},
      </if>
      <if test="meetEmpNum != null" >
        MEET_EMP_NUM = #{meetEmpNum,jdbcType=INTEGER},
      </if>
      <if test="staTime != null" >
        STA_TIME = #{staTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        END_TIME = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="need != null" >
        NEED = #{need,jdbcType=VARCHAR},
      </if>
      <if test="meetType != null" >
        MEET_TYPE = #{meetType,jdbcType=VARCHAR},
      </if>
      <if test="meetPerNo != null" >
        MEET_PER_NO = #{meetPerNo,jdbcType=VARCHAR},
      </if>
      <if test="meetPerName != null" >
        MEET_PER_NAME = #{meetPerName,jdbcType=VARCHAR},
      </if>
      <if test="meetRoomId != null" >
        MEET_ROOM_ID = #{meetRoomId,jdbcType=VARCHAR},
      </if>
      <if test="meetCreateTime != null" >
        MEET_CREATE_TIME = #{meetCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="meetState != null" >
        MEET_STATE = #{meetState,jdbcType=VARCHAR},
      </if>
      <if test="resOne != null" >
        RES_ONE = #{resOne,jdbcType=VARCHAR},
      </if>
      <if test="resTwo != null" >
        RES_TWO = #{resTwo,jdbcType=VARCHAR},
      </if>
      <if test="resThree != null" >
        RES_THREE = #{resThree,jdbcType=VARCHAR},
      </if>
      <if test="resFour != null" >
        RES_FOUR = #{resFour,jdbcType=VARCHAR},
      </if>
      <if test="resFive != null" >
        RES_FIVE = #{resFive,jdbcType=VARCHAR},
      </if>
    </set>
    where MEET_ID = #{meetId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aixu.meeting.domain.AixuMeeting" >
    update aixu_meeting
    set APPLY_EMP_NO = #{applyEmpNo,jdbcType=VARCHAR},
      APPLY_EMP_NAME = #{applyEmpName,jdbcType=VARCHAR},
      MEET_THEME = #{meetTheme,jdbcType=VARCHAR},
      MEET_EMP_NUM = #{meetEmpNum,jdbcType=INTEGER},
      STA_TIME = #{staTime,jdbcType=TIMESTAMP},
      END_TIME = #{endTime,jdbcType=TIMESTAMP},
      NEED = #{need,jdbcType=VARCHAR},
      MEET_TYPE = #{meetType,jdbcType=VARCHAR},
      MEET_PER_NO = #{meetPerNo,jdbcType=VARCHAR},
      MEET_PER_NAME = #{meetPerName,jdbcType=VARCHAR},
      MEET_ROOM_ID = #{meetRoomId,jdbcType=VARCHAR},
      MEET_CREATE_TIME = #{meetCreateTime,jdbcType=TIMESTAMP},
      MEET_STATE = #{meetState,jdbcType=VARCHAR},
      RES_ONE = #{resOne,jdbcType=VARCHAR},
      RES_TWO = #{resTwo,jdbcType=VARCHAR},
      RES_THREE = #{resThree,jdbcType=VARCHAR},
      RES_FOUR = #{resFour,jdbcType=VARCHAR},
      RES_FIVE = #{resFive,jdbcType=VARCHAR}
    where MEET_ID = #{meetId,jdbcType=VARCHAR}
  </update>
  
  <!-- 时间段筛选会议室 -->
  <select id="selectByTime" parameterType="java.util.Map" resultMap="BaseResultMap">
  	SELECT
  	<include refid="Base_Column_List" />
  	FROM aixu_meeting t
  	<where>
  		<if test="params.staTime!=null and params.endTime!=null">
			AND (t.STA_TIME &gt;= #{params.staTime} AND t.END_TIME &lt;= #{params.endTime})
			OR (t.STA_TIME &lt;= #{params.staTime} AND t.END_TIME &gt;= #{params.endTime})
			OR (t.STA_TIME &gt; #{params.staTime} AND t.STA_TIME &lt; #{params.endTime})
			OR (t.END_TIME &gt; #{params.staTime} AND t.END_TIME &lt; #{params.endTime})
		</if>
  	</where>
  </select>
</mapper>